<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "links" %>

<p style="font-size: 10px;">By signing up for this service and adding any data, you agree that the data may be displayed, transmitted or used in any way in this database and you license the data under a <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons 3.0 BY-NC-SA license</a>. You also license the administrator of this database to license the data you submit under other Creative Commons license terms, including but not limited to, BY-NC and BY-SA licenses.</p>
