<h1>Listing lexemes</h1>

<table>
  <tr>
    <th>Token</th>
    <th>Gloss</th>
    <th>P.O.S</th>
    <th>Root</th>
    <th>Sg. Noun Class</th>
    <!--<th>Sg. Noun Class #</th>-->
    <th>Pl. Noun Class</th>
    <!--<th>Pl. Noun Class #</th>-->
    <th>Class/Group</th>
    <th style="display: none;">Transcription</th>
    <th>Date</th>
    <th style="display: none;">Sg. Transcription</th>
    <th style="display: none;">Pl. Transcription</th>
    <th style="display: none;">Inf.Transcription</th>
    <th>Additionalforms</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lexemes.each do |lexeme| %>
  <tr>
    <td><%= lexeme.token %></td>
    <td><%= lexeme.gloss %></td>
    <td><%= lexeme.pos %></td>
    <td><%= lexeme.root %></td>
    <td><%= lexeme.sgNounClassMorpheme %></td>
    <!--<td><%= lexeme.sgNounClassNumber %></td>-->
    <td><%= lexeme.plNounClassMorpheme %></td>
    <!--<td><%= lexeme.plNounClassNumber %></td>-->
    <td><%= lexeme.classOrGroup %></td>
    <td style="display: none;"><%= lexeme.transcription %></td>
    <td><%= lexeme.editDate.strftime("%m/%d/%Y") %></td>
    <td style="display: none;"><%= lexeme.sgTranscription %></td>
    <td style="display: none;"><%= lexeme.plTranscription %></td>
    <td style="display: none;"><%= lexeme.infTranscription %></td>
    <td><%= lexeme.additionalForms %></td>
    <td><%= lexeme.notes %></td>
    <td><%= link_to 'Show', lexeme %></td>
    <td><%= link_to 'Edit', edit_lexeme_path(lexeme) %></td>
    <td><%= link_to 'Destroy', lexeme, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lexeme', new_lexeme_path %>
