<p id="notice"><%= notice %></p>

<h3>Matches</h3>
<span id="yousearchedfor">You searched for: <span id="searchterm"><%= @regex %></span></span>
<table>
    <tr>
    <th>Root</th>
    <th>Sg. NC</th>
    <th>Pl. NC</th>
    <th>Sg. Token</th>
    <th>Pl. Token</th>
    <th>Gloss</th>
    <th>POS</th>
    <th style="display: none;">Token</th>
    <th>Owner</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    <% @matches.each do |lexeme| %>
    <tr>
    <td><%= lexeme.root %></td>
    <td><%= lexeme.sgNounClassMorpheme %></td>
    <td><%= lexeme.plNounClassMorpheme %></td>
    <td><%= lexeme.sgTranscription %></td>
    <td><%= lexeme.plTranscription %></td>
    <td><%= lexeme.gloss %></td>
    <td><%= lexeme.pos %></td>
    <td style="display: none;"><%= lexeme.token %></td>
    <td><%= lexeme.user.email if lexeme.user %></td>
    <td><%= link_to 'Show', lexeme %></td>
    <td><%= link_to 'Edit', edit_lexeme_path(lexeme) %></td>
    <td><%= link_to 'Destroy', lexeme, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
    <% end %>
</table>
